.ticker {
  border-bottom:1px solid var(--line);
  background:#030304;
  height:30px
}
.ticker-inner {
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:100%;
  gap:16px;
  font-size:9px;
  font-weight:600;
  letter-spacing:.07em
}
.ticker-inner>span,.ticker-inner>a {
  display:flex;
  align-items:center;
  gap:10px;
  white-space:nowrap
}
.ticker-inner>*+* {
  border-left:1px solid #ffffff40;
  padding-left:20px
}
.ticker .icon {
  width:16px;
  height:16px
}
@media(max-width:850px) {
  .ticker-inner>:nth-child(2),.ticker-inner>:nth-child(4) {
  display:none
}

}
@media(max-width:500px) {
  .ticker-inner>a {
  display:none
}
.ticker-inner {
  font-size:8px;
  gap:8px
}
.ticker-inner>*+* {
  padding-left:10px
}

}

